<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace는 mapper의 인터페이스가 있는 곳을 보여줌-->
<mapper namespace="minipj.sh.mapper.BoardMapper">

<select id="getList" resultType="minipj.sh.entity.Board">
	select * from tblBoard order by boardGroup desc
</select>


</mapper>